# Week 2 - Monday Lesson (variable assignment, loops, lists)

# Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

6

##### Assinging float

In [2]:
my_float= 2.3
print(my_float)
my_float=2.
type(my_float)

2.3

float

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1=2
num2= 5.7

result=num1+num2
print(result)

7.7

##### Subtraction

In [4]:
result_diff =num2-num1
print(result_diff)

result_diff -=2
print(result_diff)

3.7
1.7000000000000002

##### Multiplication

In [5]:
num3=3
num4=10

result_prod=num3 * num4
print(result_prod)

result_prod*=2
print(result_div)

30

NameError: name 'result_div' is not defined

##### Division

In [ ]:
result_div =num4/num3
print(result_div)

##### Floor Division

In [ ]:
result_floor=5//2
print(result_floor)

##### Modulo

In [ ]:
result_mod=5%2
print(result_mod)

num=7
if num % 2==0:
    print("even")
else:
    print("odd")

##### Exponential

In [9]:
x=5
square=x**2
print(square)

25

### String Input-Output

##### String Assignment

In [ ]:
name="Kevin"
print(name)

name="kevin's"
print(name)

word='he said "what\'s up"'
print(word)

##### print() <br>
<p>Don't forget about end=' '</p>

In [ ]:
name="Kevin"
print("this is my first name:",name, "\nthanks")
print("hello")
print("hello", end="\n")

print("no spaces", end="")
print("no space", end="")

##### String Concatenation

In [ ]:
first="Mark"
last="Gerlach"
full_name= first+last
print(full_name)

full_name= first + " " + last
print(full_name)

##### Type Conversion

In [ ]:
num= "32"
print(type(num))
change_type=int(num)
print(change_type)
print(type(change_type))

num1="4"
num2= 6
int(num1)+num2

# dict(), list(), tuple(), float(), int(), str(), set()

##### input()

In [ ]:
age=int(input("what is your age? "))
print(type(age))

print("your age is" , age)

##### format()

In [ ]:
age= input("What is your age")
result_string= "Your are{} years old and you are getting wiser!" .format(age)
print(result_string)

#f-string!!
result_string=f"you are{} years old and you are getting wider!"
print(result_string)

##### Old Way (python 2)

age="35"
result_str="you are %s and you look great for your age" %age
print(result_str)

In [ ]:
# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
car_color=input("What color is your car? ")
car_year=input("What year is your car? ")
make_car=input("What make is your car?")
model_car= inut("what model is your car")
print(f"your drive a {year}{make}{model} that is painted {color}!")

### If Statements

In [ ]:
#True/ False
#boolean evaluates to True or False capital letter 
#opeators 
#greater than >
#less than <
#Equal ==
#greater or equal >=
#less than or equal <=
#not equal != (or not==)

num1=5
num2=10

if num1== num2: #(if this is true then do : what comes after :)
#    code block
    print("equal")
else:
    print("not equal")
    
if num1>num2:
    print("num1 is greater")
elif num1<num2:
    print("num1 is less")
else:
    print("are equal")

# and & or 
if num1 == and num2>12:
    print("sometihng")
else: 
    print("nothing")

##### 'is' keyword

In [ ]:
#Ternary Operator.. this is how you write an if statement inline
#[value if true][if][boolean][else][value if false]
name="john"

my_num=5 if name =="steve" else 0 #can leave 0 or type none
print(my_num)

my_num =5 if name=="steve" else 10 if name=="john" else 0
print(my_num)

In [ ]:
#check if the two objects are the same.
#generally dont us IS unless you are asking is NONE

y="None"
if y is None:
    print("y is None")
    

    


list1=[]
list2=[]
list3=list1

if list1==list2
    print("true")
else: 
    print("false")
    
if list1 is list2:
        print("true")
else:
    print("false")
    
print(list1==list3)
print(list is list3)

##### 'in' keyword

In [ ]:
#check if a character is in a name
# under the hood using in with a list or a string is actuall looping
char_name= "Max Payne"

if "Max" in char_name:
    print("The character who lost everything..")
    
for letter in char_name:
    if letter="a"
        return True

##### 'not in' keyword'

In [ ]:
sega_char="Sonic"
if "a" not in sega_char:
    print("a is NOT in the name..!")

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
user=input("what is your name? ")
if "p" in user:
    print(True)
#case sensative

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [ ]:
#for placeholder, in, [iterable]
for i in range (10):
    print(i)
    
#if word, it is spelled down the column    
name="christina"
for letter in name:
        print(letter)
        
#index start at 0-pizza        
foods=["pizza", "tacos", "dimsum", "sushi"]
for food in foods:
    print(food.title())
    
foods[2]    


list(range(len(foods)))


for index in range(len(foods)):
    print(index)
    print(foods[index])
#access index and object is to use enumerate

for tuple in enumerate(foods):
    print(tuple)
    
for index, food in enumerate(foods):
    print(f"the food at index {index} is {food}")

##### Using 'in' keyword

##### Continue Statement

In [ ]:
# it will contuinure the next iteration

#anything after == is skipped. (at this iteation skipp it)
for i in range(10):
    if i==5:
        continue
    print(i)

##### Break Statement

In [ ]:
if i in range(10):
    if i== 5:
        break
    print(i)

##### Pass Statement

In [ ]:
for x in [1,2,3,4]:
    pass #just a placeholder, prevents code from running.
print("Hello")

##### Double For Loops

In [70]:
for i in range (5):
    for j in range(5):

        print(f'i={i},j={j}')

i=0,j=0
i=0,j=1
i=0,j=2
i=0,j=3
i=0,j=4
i=1,j=0
i=1,j=1
i=1,j=2
i=1,j=3
i=1,j=4
i=2,j=0
i=2,j=1
i=2,j=2
i=2,j=3
i=2,j=4
i=3,j=0
i=3,j=1
i=3,j=2
i=3,j=3
i=3,j=4
i=4,j=0
i=4,j=1
i=4,j=2
i=4,j=3
i=4,j=4

### While Loops

In [ ]:
num=0
while num<10:
    print(num)
    num+= 1
    
    
game_over= False
while not game_over:   
    user_input= input("what do you want to do? quit or continue?" )
    if user_input.lower()== "quit":
        game_over= True
    else:
        continue
print("i'll still run after quit")

##### Looping 'While True'

In [ ]:
while True:
    user_input=input("what do you want to do? quit or contiunue")
    if user_input.lower() == "quit":
        break
    print("will i print???")

##### While & For Loops Used Together

In [ ]:
num=0
while num<5:
    print("While loop iteration: " num)
    for i in range(5):
            print("For Loop Iteration: "i)
                num += 1

### Built-In Functions

##### range()

In [65]:
#start, stop, step

list(range(5))

list(range(5,10))

list(range(5,10,2))

list(range(10,5,-1))

[10, 9, 8, 7, 6]

##### len()

In [ ]:
len("hello") #how many in parenthese

##### help()

In [ ]:
 help(len)
help(int)
help(list)

##### isinstance()

In [ ]:
#returns boolean t/f output 
#isinstance(var,type)
num=3
print(isinstance(num,int))
print(isinstance(num,str))

##### abs()

In [ ]:
# -5 =5 which measure the dist from zero

print(abs(-5))
print(abs(5))

### Try and Except

In [ ]:
#use when trying to fix a bug or actually it is an error handler --- only for errors that are uncommon 

try:
    number_test= 0
    input_num=int(input("guess a Number: "))
    if input_num != number_test:
        input_num= input_num + number_test
        print(f'your number is: {input_num}')
except:
    print("That didn't work, make sure your input is a number")

    
    
def divide(num1, num2):
    try:
        print(num1/num2)
    except ZeroDivisionError:
        print(0)
    except TypeError:
        print("sorry i need numbers")
        
divide(1,"2")

### Lists

##### Declaring Lists

In [ ]:
names=["Max", "Cindy", "Kathy", "Brad"]
print(names)

In [ ]:
a_list=[1,2.5, [1,2,3], "string"]

##### Indexing a List

In [ ]:
#slicing [start:end:step]
print(
    names[1:3]) #print two names in list with : however second number has regular count starting from 1 at beginning

print(names[:3])
print(names[::2]) #zero zero three
print(names[::-1]) #reverse


my_string="racecar"[::-1]
if my_string== my_strinf[::-1]
    print("palindrome")

##### .append()

In [ ]:
#works in place
names.append("Austin")
print(names)

##### .insert()

In [ ]:
names.insert(1,"Anu") #at position 1 add Anu
print(names)

names[2]="Natasha"  #changes index 2 to this new name

##### .pop()

In [ ]:
print(names.pop()) #removes last element.. can also change number to pop too counts from end of list. 
print(names) #prints names without the popped item


##### .remove()

In [ ]:
#remove by value
my_list=["A","B", "C", "D", "B"]
my_list.remove("B") #only removes the first one not all B. dont use in for loops ! 
print(my_list)

##### del()

In [ ]:
#remove by index

my_list=["A","B", "C", "D", "B"]
del my_list[2]
my_list


for i in range(len(names)):
    if i==2:
        del names[i]

##### Concatenating Two Lists

In [ ]:
l_2 =[0,1,2]
l_3= [3,4,5]

large_list= l_2 + l_3
print(large_list)

##### Lists Within Lists

In [ ]:
my_nested_list=["Max","Sallt", "JAson", [1,2,3], "Jessica"]
my_nested_list[3][1] #this is a list is being indexed into eachother to pull out that index

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [64]:
x=1
cube=0
while True:
    if cube>= 1000:
        break  
    else:
        cube= x**3
        print (cube)
        x=x+1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

Hint: a prime number is any number that is only divisible by 1 and itself. For each number up to 100, check to see if that number is divisible by any number in a range(2, number). if so, it is not a prime number. If not, it is prime.

In [104]:
#can't figure this one out.
for number in range(2,101):
    for value in range(2,101):
        if number == value:
            print(str(number) + ' is prime')
            break
        elif number%value==0:
            print(str(number) + ' is prime')
            continue
        else:
            print(str(number) +" is not prime")
            break

2 is prime
3 is not prime
4 is prime
4 is not prime
5 is not prime
6 is prime
6 is prime
6 is not prime
7 is not prime
8 is prime
8 is not prime
9 is not prime
10 is prime
10 is not prime
11 is not prime
12 is prime
12 is prime
12 is prime
12 is not prime
13 is not prime
14 is prime
14 is not prime
15 is not prime
16 is prime
16 is not prime
17 is not prime
18 is prime
18 is prime
18 is not prime
19 is not prime
20 is prime
20 is not prime
21 is not prime
22 is prime
22 is not prime
23 is not prime
24 is prime
24 is prime
24 is prime
24 is not prime
25 is not prime
26 is prime
26 is not prime
27 is not prime
28 is prime
28 is not prime
29 is not prime
30 is prime
30 is prime
30 is not prime
31 is not prime
32 is prime
32 is not prime
33 is not prime
34 is prime
34 is not prime
35 is not prime
36 is prime
36 is prime
36 is prime
36 is not prime
37 is not prime
38 is prime
38 is not prime
39 is not prime
40 is prime
40 is not prime
41 is not prime
42 is prime
42 is prime
42 is not prime
43 is not prime
44 is prime
44 is not prime
45 is not prime
46 is prime
46 is not prime
47 is not prime
48 is prime
48 is prime
48 is prime
48 is not prime
49 is not prime
50 is prime
50 is not prime
51 is not prime
52 is prime
52 is not prime
53 is not prime
54 is prime
54 is prime
54 is not prime
55 is not prime
56 is prime
56 is not prime
57 is not prime
58 is prime
58 is not prime
59 is not prime
60 is prime
60 is prime
60 is prime
60 is prime
60 is prime
60 is not prime
61 is not prime
62 is prime
62 is not prime
63 is not prime
64 is prime
64 is not prime
65 is not prime
66 is prime
66 is prime
66 is not prime
67 is not prime
68 is prime
68 is not prime
69 is not prime
70 is prime
70 is not prime
71 is not prime
72 is prime
72 is prime
72 is prime
72 is not prime
73 is not prime
74 is prime
74 is not prime
75 is not prime
76 is prime
76 is not prime
77 is not prime
78 is prime
78 is prime
78 is not prime
79 is not prime
80 is prime
80 is not prime
81 is not prime
82 is prime
82 is not prime
83 is not prime
84 is prime
84 is prime
84 is prime
84 is not prime
85 is not prime
86 is prime
86 is not prime
87 is not prime
88 is prime
88 is not prime
89 is not prime
90 is prime
90 is prime
90 is not prime
91 is not prime
92 is prime
92 is not prime
93 is not prime
94 is prime
94 is not prime
95 is not prime
96 is prime
96 is prime
96 is prime
96 is not prime
97 is not prime
98 is prime
98 is not prime
99 is not prime
100 is prime
100 is not prime

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [50]:
age=int(input("What is your age? "))
if age < 18 :
    print("Kids")
elif (age >= 18 )and (age <= 65):
    print("Adults")
else:
    print("Seniors")
print(age)

What is your age? 20
Adults
20